<div class="pricing-page d-flex h-100 mx-auto flex-column">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="cover-heading mt-5">Pricing</h1>
    <p class="lead">We Provide different plans based upon how far into the into the future you would
      like to be able to recieve action alerts. The most basic plan starting at the next months
      alerts and upgradable to all alerts we have been able to find.</p>
  </div>

  <div class="container mt-5">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Base</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$10 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Includes Next Month of Alerts.</li>
            <li>One month out based upon current date.</li>
            <li>Email support/alerts</li>
          </ul>
          <button type="button" class="btn btn-lg btn-secondary">Get started</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$25 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Includes Next 3 Months of Alerts.</li>
            <li>Three months out based upon current date.</li>
            <li>Email support/alerts</li>
          </ul>
          <button type="button" class="btn btn-lg btn-secondary">Get started</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Investigative</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$35 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Includes All Currently Found Alerts.</li>
            <li>Alerts in progress that have not yet been qualified as "Alerts"</li>
            <li>Email support/alerts</li>
          </ul>
          <button type="button" class="btn btn-lg btn-secondary">Get started</button>
        </div>
      </div>
    </div>
    <div class="footer">
      <footer class="mastfoot mx-auto">
        <div class="inner">
          <p>Site Built By <a target="_blank" href="https://blog-site-sff.web.app/home">Sam McBeth</a></p>
        </div>
      </footer>
    </div>
  </div>
