<div class="trades-page">
  <div class="jumbotron text-center">

    <h1 class="cover-heading">Historical Trades</h1>
    <p class="lead">These are all historical trades that we have made relative to
      any pharmacuetical company. We realize that you have to take our word for it
      that we are not only reporting successes but we still believe a persons word
      is worth quite a lot, and hope you do too.
    </p>

  </div>

  <main>
    <div class="container pt-5 mt-5">
      <h2>Trades</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Company</th>
              <th>Ticker</th>
              <th>Avg Entry Price</th>
              <th>Avg Exit Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Karyopharm Therapuetics</td>
              <td>KPTI</td>
              <td>8.12</td>
              <td>18.22</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Intra-cellular Therapies</td>
              <td>ITCI</td>
              <td>11.21</td>
              <td>33.06</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Epizyme Inc.</td>
              <td>EPZM</td>
              <td>22.58</td>
              <td>-----</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Aimmune Therapeutics</td>
              <td>AIMT</td>
              <td>33.13</td>
              <td>-----</td>
            </tr>
            <tr>
              <td>5</td>
              <td>To Be Determined</td>
              <td>TBD</td>
              <td>-----</td>
              <td>-----</td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
